body {
    font-family: 'Nunito', sans-serif;
    background-color: #f9fcff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

.postscontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1px;
    height: 650px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
    background-color:#eff7ff;
}

.post {
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 2px;
    width: 99%;
    height: 24%;
}

.cv {
    text-align: left;
    margin-left: 25px;
    border-bottom: 1px solid #ccc;
    border-bottom-width: 1;
    border-radius: 4px;
}


.id a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.name {
    margin-top: 10px;
}

.paginate {
    margin-top: 20px;
    text-align: center;
}

.paginate .pagination {
    display: inline-block;
}

.paginate .pagination li {
    display: inline-block;
    margin: 0 5px;
}

.back {
    margin-top: 20px;
    text-align: left;
}

.back a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back a:hover {
    background-color: #ccc;
}

.statuses {
    display: flex;
}
        
.status {
    flex: 1;
    margin-right: 20px;
}
        
.status h2 {
    text-align: center;
}
        